<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" type="text/css" href="/style/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/style/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/style/css/common.css">
    <script type="text/javascript" src="/script/jquery.min.js"></script>
    <script type="text/javascript" src="/script/common.js"></script>
    <script type="text/javascript" src="/script/utility.js"></script>
  </head>
  <body>
  </body>
</html>

